.text1{
    font-size: 25px;
    margin: 0;
    color: rgb(173, 150, 107);
   }
   .top{
    display: flex;
    flex-direction: column;
   }
   .main-div{
    align-content: center;
    display: flex;
    justify-content: center;
   }
   .exchangetab{
            position: relative;
            border: solid;
            border-width: 1px;
            width: 300px;
            height: 250px;
            border-color: rgb(170, 167, 167);
            padding: 10px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }
        .inpute, .inputee{
            display: block;
            width: 95%;
        }
        .selectfrom, .selectto{
            background-color: teal;
            border-radius: 5px;
            color: rgb(214, 203, 203);
            font-family: "lora", sans-serif;
        }
        .selectfrom{
            margin-bottom: 5px;
        }
        .convertBut{
            background-color: brown;
            color: rgb(214, 203, 203);
            border: none;
            height: 30px;
            cursor: pointer;
            margin-top: 5px;
            position: absolute;
            bottom: 3px;
            left: 3px;
            right: 3px;
        }
        .from-to{
            font-weight: bold;
            font-family: "sedan sc", sans-serif;
            font-size: 20px;
            margin: 0;
            margin-bottom: 2px;
        }
        .text2{
            margin: 0;
            margin-top: 5px;
            font-family: "lora", sans-serif;
            font-size: 15px;
            visibility: hidden;
            height: 0;
        }
        .swapbutton{
            margin-top: 5%;
            margin-left: 43%;
            border: none;
            background-color: white;
            cursor: pointer;
            width: 25px;
        }
        
        .swapbutton:hover +.tooltip{
            opacity: 1;
        }
        .swapbutton:active +.tooltip{
            opacity: 0;
        }
        
        @media screen and (max-width: 600px) {
            .exchangetab{
                width: 300px;
            }
            
        }
